# .gitignore file created for free with Tower (https://www.git-tower.com/)
# For suggestions or improvements please contact us using support@git-tower.com
# Generated on 2026-03-04
# Includes: next_js

### Universal ###
# Common files that should be ignored in all projects

# Logs
*.log
# Temporary files
*.tmp
*~

*.bak
# Environment files (containing secrets, API keys, credentials)
*.env

# Local configuration that shouldn't be shared
*.local

### Next_js ###
# next_js specific files

.next/
.env.development.local
.env.test.local
.env.production.local
node_modules/
.vercel

# Local Netlify folder
.netlify
config.bat
